<div class="container mx-auto">
    <div class="my-5 text-center">
        <h1 class="text-4xl font-bold my-3 hover:scale-125">Lista de Post</h1>
        <button (click)="MostrarPost()" type="button" [ngClass]="Mostrar ? 'bg-blue-600 hover:bg-red-500' : 'bg-red-500'" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Mostrar Post</button>
    </div>
    <div *ngIf="Mostrar">
        <div class="container mx-auto p-6 grid grid-cols-4 gap-4">
            <div *ngFor="let post of posting | paginate: { itemsPerPage: 8, currentPage: page }"> <!--Muestra solo 8 cards por página-->
                <div class="col-span-1 flex flex-col bg-white border-2 p-4">
                    <div class="rounded overflow-hidden shadow-lg">
                            <img src="https://picsum.photos/id/{{post.id}}/800/600" class="h-64 w-full rounded-t pb-6">
                            <p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
                            <div class="px-6 py-4 h-56">
                                <p class="text-gray-700 text-base font-bold my-2">{{post.title | titlecase}}</p>
                                <p class="mr-2 mb-2">{{post.body}}</p>
                            </div>
                            
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
                        <div class="flex items-center justify-between">
                            <img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name"
                                src="http://i.pravatar.cc/300" alt="Avatar of Author" tabindex="0">
                            <p class="text-gray-600 text-xs md:text-sm">{{ date | date:'dd/MM/yyyy HH:mm'}} READ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-6">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div> 
    </div>
</div>

